[submodule "resolvelib-feedstock"]
	path = resolvelib-feedstock
	url = ../resolvelib-feedstock
	branch = main
[submodule "ansible-core-feedstock"]
	path = ansible-core-feedstock
	url = ../ansible-core-feedstock
	branch = maint-2.13.x
[submodule "ansible-feedstock"]
	path = ansible-feedstock
	url = ../ansible-feedstock
	branch = maint-6.x
[submodule "xattr-feedstock"]
	path = xattr-feedstock
	url = ../xattr-feedstock
	branch = main
[submodule "sphinx_rtd_theme-feedstock"]
	path = sphinx_rtd_theme-feedstock
	url = ../sphinx_rtd_theme-feedstock
	branch = main
[submodule "asv-feedstock"]
	path = asv-feedstock
	url = ../asv-feedstock
[submodule "osslsigncode-feedstock"]
	path = osslsigncode-feedstock
	url = ../osslsigncode-feedstock
[submodule "innoextract-feedstock"]
	path = innoextract-feedstock
	url = ../innoextract-feedstock
	branch = main
[submodule "unrar-feedstock"]
	path = unrar-feedstock
	url = ../unrar-feedstock
	branch = main
[submodule "gogcheck-feedstock"]
	path = gogcheck-feedstock
	url = ../gogcheck-feedstock
	branch = main
[submodule "httplib2-feedstock"]
	path = httplib2-feedstock
	url = https://github.com/conda-forge/httplib2-feedstock
	branch = main
[submodule "uritemplate-feedstock"]
	path = uritemplate-feedstock
	url = https://github.com/conda-forge/uritemplate-feedstock
	branch = main
[submodule "google-auth-httplib2-feedstock"]
	path = google-auth-httplib2-feedstock
	url = https://github.com/conda-forge/google-auth-httplib2-feedstock
	branch = main
[submodule "google-api-python-client-feedstock"]
	path = google-api-python-client-feedstock
	url = https://github.com/conda-forge/google-api-python-client-feedstock
	branch = main
